<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'community/css/styles.css' %}">
{#    <style>#}
{#        /* 为下拉菜单添加过渡动画 */#}
{#       .dropdown-content {#}
{#            transition: all 0.3s ease;#}
{#            transform-origin: top;#}
{#            transform: scaleY(0);#}
{#            opacity: 0;#}
{#        }#}
{#       .dropdown-content.active {#}
{#            transform: scaleY(1);#}
{#            opacity: 1;#}
{#        }#}
{#    </style>#}
</head>

<body class="bg-gray-300 font-sans">
    {% csrf_token %}
    <!-- 导航栏 -->
    <nav class="bg-gray-600 p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'post-list' %}" class="text-2xl font-bold">社区论坛</a>
            {% if user.is_authenticated %}
                <div class="flex items-center">
                    <div class="relative ml-4">
                        <!-- 下拉菜单触发按钮 -->
                        <button id="dropdownButton" class=" text-white px-4 py-2 rounded-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400">
                            欢迎, {{ user.username }}! <i class="fa-solid fa-caret-down"></i>
                        </button>
                        <!-- 下拉菜单内容 -->
                        <div id="dropdownContent" class="dropdown-content absolute right-0 mt-2 w-40 bg-white rounded-md shadow-lg overflow-hidden">
                            <a href="{% url 'logout' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">登出</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class = "ml-auto mx-4">登录</a>

                <a href="{% url 'register' %}">注册</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block extra_js %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script>
        const dropdownButton = document.getElementById('dropdownButton');
        const dropdownContent = document.getElementById('dropdownContent');

        dropdownButton.addEventListener('click', function () {
            dropdownContent.classList.toggle('active');
        });

        // 点击页面其他地方关闭下拉菜单
        document.addEventListener('click', function (event) {
            if (!dropdownButton.contains(event.target) &&!dropdownContent.contains(event.target)) {
                dropdownContent.classList.remove('active');
            }
        });
    </script>
</body>
</html>