{% extends 'base.html' %}

{% block content %}
    <!-- 帖子详情 -->
    <div class="container mx-auto py-8 px-4">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h1 class="text-3xl font-bold mb-2">{{ post.title }}</h1>
            <div class="flex items-center text-gray-600 mb-4">
                <span class="mr-2"><i class="fa-solid fa-user"></i>  {{ post.author }}</span>
                <span class="mr-2"><i class="fa-solid fa-calendar"></i>  {{ post.display_time }}</span>
                <span><i class="fa-solid fa-eye"></i> {{ post.views }}</span>
            </div>
            <p class="text-lg leading-relaxed">{{ post.content }}</p>
            {% if post.attachment %}
            <a href="{{ post.attachment.url }}">Download Attachment</a>
            {% endif %}
             <div class="relative h-10">
            <button id="write-reply-btn" class="absolute bottom-0 right-0 bg-blue-600 text-white py-1 px-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">写回复</button>
            </div>
        </div>

        <!-- 评论部分 -->
        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">{{ comment_count }}条回复</h2>
            {% if top_level_comments %}
            <div class="space-y-4">
                {% for comment in top_level_comments %}
                    <div class="bg-white shadow-md rounded-lg p-6">
                        <div class="flex items-center text-gray-600 mt-2">
                            <span class="mr-2"><i class="fa-solid fa-user"></i> {{ comment.author }}</span>
                            <span><i class="fa-solid fa-calendar"></i> {{ comment.display_time }}</span>
                             {% if request.user.is_admin %}
                                <!-- 新的 flex 容器用于包裹删除和回复按钮 -->
                                <div class="flex ml-auto space-x-2">
                                    <button class="bg-red-600 text-white py-1 px-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                                        <a href="{% url 'delete-comment' comment_id=comment.id %}">删除</a>
                                    </button>
                                    <button class="bg-blue-600 text-white py-1 px-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="toggleReplyForm(this, '{{ comment.id }}')">回复</button>
                                </div>
                            {% else %}
                                <button class="ml-auto bg-blue-600 text-white py-1 px-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="toggleReplyForm(this, '{{ comment.id }}')">回复</button>
                            {% endif %}
                        </div>
                        <br/>
                        <p class="text-lg leading-relaxed">{{ comment.content }}</p>
                        {% if comment.attachment %}
                         <a href="{{ comment.attachment.url }}">Download Attachment</a>
                        {% endif %}
                        <form class="reply-form mt-4" action="#" method="post"  id="reply-form-{{ comment.id }}" style="display: none">
                            {% csrf_token %}
                            <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
                             {{ form_textinput.as_p }}
                            <button type="submit" class="bg-blue-600 text-white py-1 px-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 mt-2">发布</button>
                        </form>
                        <!-- 显示回复 -->
                        {% for reply in comment.replies_ %}
                        <div class="bg-gray-100 shadow-md rounded-lg p-4 my-2 ml-8">
                            <div class="flex items-center text-gray-600 mt-2">
                                <span class="mr-2"><i class="fa-solid fa-user"></i> {{ reply.author }}</span>
                                <span><i class="fa-solid fa-calendar"></i> {{ reply.display_time }}</span>
{#                                <button class="ml-auto bg-blue-600 text-white py-1 px-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="toggleReplyForm(this, '{{ reply.id }}')">回复</button>#}
                            </div>
                            <br/>
                            <p class="text-lg leading-relaxed">{{ reply.content }}</p>
                            <form class="reply-form mt-4" action="#" method="post"  id="reply-form-{{ reply.id }}" style="display: none">
                                    {% csrf_token %}
                                    <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
                                     {{ form_textinput.as_p }}
                                    <button type="submit" class="bg-blue-600 text-white py-1 px-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 mt-2">发布</button>
                                    </form>
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-gray-600">暂无回复</p>
            {% endif %}

            <!-- 添加评论表单 -->
            <div class="mt-8" id="add-comment-heading">
               <form method="post" enctype="multipart/form-data" class="reply-form">
                {% csrf_token %}
                <div class="mb-6">
                    {{ form_textarea.content }}
                </div>
{#                   <div id="posts-container">#}
{#                 {% include 'community/partials/attachment_item.html' %}#}
{#                    </div>#}
                <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">发布</button>
             </form>
            </div>
        </div>
    </div>
    <script>
            window.onload = function () {
                    function toggleReplyForm(button, commentId) {
                        const replyForm = document.getElementById(`reply-form-${commentId}`);
                        if (replyForm.style.display === 'none') {
                            button.innerHTML = '取消回复';
                            replyForm.style.display = 'block';
                        } else {
                            button.innerHTML = '回复';
                            replyForm.style.display = 'none';
                        }
                    }
                    window.toggleReplyForm = toggleReplyForm;

                    const writeReplyBtn = document.getElementById('write-reply-btn');
                    const addCommentHeading = document.getElementById('add-comment-heading');

                    writeReplyBtn.addEventListener('click', function () {
                        addCommentHeading.scrollIntoView({ behavior: 'smooth' });
                    });
                };
            document.addEventListener('DOMContentLoaded', function() {
                // 在列表页添加按钮
                const objectTools = document.querySelectorAll('.reply-form');
                objectTools.forEach(function (form){
                    form.addEventListener('submit', function (e) {
                        e.preventDefault();
                        const xhr = new XMLHttpRequest();
                        const url = "{% url 'check-login' %}";
                        xhr.open('GET', url, true);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4) {
                                const response = JSON.parse(xhr.responseText);
                                if (response.status === 'success') {
                                    form.removeEventListener('submit', arguments.callee);
                                    form.submit();
                                } else {
                                    alert(response.message);
                                }
                            }
                        };
                        xhr.send();
                    });
                })
            });
    </script>
{% endblock %}