{% extends 'base.html' %}

{% block content %}

    <!-- 帖子列表 -->
    <div class="container mx-auto py-6 px-4">
        <h1 class="text-3xl font-bold mb-6 ">社区帖子列表</h1>
        <div class="categories">
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category_posts' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
        {% if posts %}
        <div class="grid">
            {% for post in posts %}
            <a href="{% url 'post-detail' pk=post.pk %}" class="bg-white shadow-lg rounded-lg p-6 transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl">
                <h2 class="text-2xl font-bold mb-2 ">{{ post.title }}</h2>
                <div class="flex items-center text-gray-600 mb-4">
                    <span class="mr-2"><i class="fa-solid fa-user"></i> 作者: {{ post.author }}</span>
                    <span><i class="fa-solid fa-calendar"></i> 发布时间: {{ post.display_time }}</span>
                </div>
                <p class="text-lg leading-relaxed text-gray-800">{{ post.content|truncatewords:20 }}</p>
            </a>
                <br/>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-600">暂无帖子。</p>
        {% endif %}
    </div>
{% endblock %}