.dropdown-content {
    transition: all 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
}
.dropdown-content.active {
    transform: scaleY(1);
    opacity: 1;
}
/*.reply-form {*/
/*    display: none;*/
/*}*/
.dropzone {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }
    .dropzone.active {
        border-color: #007bff;
    }
    .file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .file-progress {
        width: 100%;
        margin-top: 5px;
    }
    .remove-file {
        color: red;
        cursor: pointer;
    }